*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background-color: #111;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
    height: fit-content;
}

/*****************************************************/
/*Navigation Bar*/

#head-div{
    position: fixed;
    top: 0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    z-index: 5;
    transition-timing-function: ease-in;
    transition: all 1s;
}
.nav_black{
    background-color:#111;
}
#title1{
    padding: 10px 20px;
}
#search-div{
    padding: 0px 20px;
    align-self: center;
}
#search-icon:hover{
    transition: transform 600ms;
    transform: scale(1.2);
    z-index: 4;
 }
input[type="text"] {
    align-self: center;
    margin: 0px;
    padding: 10px;
    font-size: 16px;
    background-color: #111 ;
    color: white;
    border: 1px solid white;
    display: none;
    font-family: "Montserrat", sans-serif;
    width: calc(100% - 0px);
  }
  input[type="text"]:focus {
    outline: none;
  }
  
  .hidden {
    display: none;
  }
