*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
#head-div{
    position: fixed;
    top: 0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
    z-index: 100;
    transition-timing-function: ease-in;
    transition: all 1s;
}
.nav_black{
    background-color:#111;
}

.slideshow-container {
    width: 100%;
    position: relative;
}

.mySlides{
    display: none;
    height: 400px;
    width: 100%;
    overflow: hidden;
    flex-wrap:wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

.mySlides img {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    border: none;
    object-fit: cover;
    position: absolute;
}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.data-slider {
    z-index: 1;
    margin-left: 5%;
    max-width: 50%;
}
.data-slider h1 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.data-slider div {
    margin-top: 15px;
}
.spotlight {
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}

.extra1 {
    line-height: 25px;
}
.year {
    color: #dfdfdf;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 4px;
}
.year2 {
    margin-left: 10px;
}

.year i {
    color: white;
}
.cbox {
    border: 1px #6d6d6d solid;
    color: #dfdfdf;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 4px;
    border-radius: 4px;
}

.cbox1 {
    background-color: red;
    color: black;
    font-family: "Montserrat", sans-serif;
    border: none;
    margin-left: 10px;
    font-size: 12px;
}

.cbox2 {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    border: none;
    margin-left: 5px;
}

.small-synop {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 15px;
    -webkit-tap-highlight-color: transparent;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    text-align: left;
    color: #fff;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    line-height: 1.6em;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 12px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}



@media only screen and (max-width: 480px) {
    .extra1,
    .small-synop {
        display: none;
    }
}

@media only screen and (max-width: 760px) and (min-width: 480px) {
    .extra1,
    .small-synop {
        display: none;
    }
}